In [61]:
import glob
FAM_OUT_FILE = '/home/groups/dpwall/briannac/alt_haplotypes/intermediate_files/phasings/fams_to_phase.csv'
fams = [f.split('/')[-1].replace('.phased.txt', '') for f in glob.glob('/oak/stanford/groups/dpwall/users/kpaskov/PhasingFamilies/phased_ihart.ms2_del/*.phased.txt')]
with open(FAM_OUT_FILE, 'w') as file:
    for i,f in enumerate(fams):
        file.write( f + '\n')

In [9]:
import numpy as np

In [11]:
test = np.load('/home/groups/dpwall/briannac/alt_haplotypes/data/phasings/fam_regions_to_global_regions.npy',
              allow_pickle=True)

array([list([0, 1, 2, 3]), list([0, 1, 2, 3, 4]),
       list([0, 1, 2, 3, 4, 5, 6, 7]), ...,
       list([225310, 225311, 225312]), list([225311]), list([225312])],
      dtype=object)

In [6]:
df_sort = df.sort_values([0,1,2])
df_sort.to_csv('/home/groups/dpwall/briannac/alt_haplotypes/data/phasings/regions_sorted.tsv',
               header=None, index=None, sep='\t')

           0          1          2
23000   chr1          1      55299
23145   chr1          1      55853
24087   chr1          1      61443
24705   chr1          1      63671
24707   chr1          1      63697
...      ...        ...        ...
258968  chrX  155874946  156040895
258969  chrX  155877528  156040895
258970  chrX  155886500  156040895
258971  chrX  155963939  155993566
258972  chrX  155993566  156040895

[263460 rows x 3 columns]

In [7]:
df_sort.to_csv('/home/groups/dpwall/briannac/alt_haplotypes/data/phasings/regions_sorted.tsv',
               header=None, index=None, sep='\t')

In [58]:
import pandas as pd
import numpy as np
import sys 

FAMILY='AU4089' # sys.argv[0]
FINAL_PHASINGS_DIR='/home/groups/dpwall/briannac/alt_haplotypes/data/phasings/phased_fams'
KELLEY_PHASINGS_DIR = '/oak/stanford/groups/dpwall/users/kpaskov/PhasingFamilies/phased_ihart.ms2_del'
df = pd.read_table('%s/%s.phased.txt' % (kelley_phasings_dir, FAMILY))

df.drop(['m1_del', 'm2_del', 'p1_del', 'p2_del', 'loss_region'], axis=1, inplace=True)
is_dup = False
prev_row = df.iloc[0][:-2]
start_idx = 0
idx_to_combine = []
for i,row in enumerate(df.iterrows()):
    if i==0: continue
    if (row[1][:-2]==prev_row).all():
        end_idx = i
        is_dup = True
    else:
        if is_dup:
            idx_to_combine = idx_to_combine + [(start_idx, end_idx)]
        is_dup = False
        start_idx = i
        prev_row = row[1][:-2]

# One last cycle through for last region of genome.
if is_dup:
    idx_to_combine = idx_to_combine + [(start_idx, end_idx)]
        
new_df = df.copy()
for start_idx, stop_idx in idx_to_combine:
    new_df.loc[start_idx,'end_pos']=new_df.iloc[stop_idx]['end_pos']
new_df = new_df.iloc[[i for i,_ in idx_to_combine]]     
new_df.to_csv('%s/%s.txt' % (FINAL_PHASINGS_DIR, FAMILY), sep='\t')

In [47]:
new_df = df.copy()
for start_idx, stop_idx in idx_to_combine:
    new_df.loc[start_idx,'end_pos']=new_df.iloc[stop_idx]['end_pos']
new_df = new_df.iloc[[i for i,_ in idx_to_combine]]

In [49]:
new_df

,chrom,AU4089202_mat,AU4089202_pat,AU4089201_mat,AU4089201_pat,AU4089302_mat,AU4089302_pat,AU4089301_mat,AU4089301_pat,start_pos,end_pos
0,chr1,0,1,2,3,0,2,1,2,1,11733242
1002,chr1,0,1,2,3,0,2,1,3,11733242,12719617
1061,chr1,0,1,2,3,0,2,0,3,12719617,24169233
1985,chr1,0,1,2,3,0,2,1,3,24169233,94858747
7690,chr1,0,1,2,3,0,2,0,3,94858747,105892488
...,...,...,...,...,...,...,...,...,...,...,...
209799,chr22,0,1,2,3,0,2,0,2,39546230,49128445
210506,chr22,0,1,2,3,0,2,0,3,49128445,50818468
210719,chrX,0,1,2,3,0,2,0,3,1,1666830
211008,chrX,0,1,2,3,0,2,0,2,1666830,29638216
211546,chrX,0,1,2,3,0,2,1,2,29638216,111087097

In [27]:
df.iloc[0]

chrom             chr1
AU4089202_mat        0
AU4089202_pat        1
AU4089201_mat        2
AU4089201_pat        3
AU4089302_mat        0
AU4089302_pat        2
AU4089301_mat        1
AU4089301_pat        2
start_pos            1
end_pos          59193
Name: 0, dtype: object

In [15]:
row[1][:-2] for row in df.iterrows()]

KeyboardInterrupt:

 df = pd.read_table('/oak/stanford/groups/dpwall/users/kpaskov/PhasingFamilies/phased_ihart.ms2_del/AU4089.phased.txt')